<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="qlsv_tc.Properties.Settings.QLDSV_TCConnectionString"
      connectionString="Data Source=DESKTOP-M6JC7UB\SERVER1;Initial Catalog=QLDSV_TC;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="qlsv_tc.Properties.Settings.Server3" connectionString="Data Source=DESKTOP-M6JC7UB\SERVER3;Initial Catalog=QLDSV_TC;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="qlsv_tc.Properties.Settings.QLDSV_TCConnectionString2"
      connectionString="Data Source=DESKTOP-M6JC7UB\SERVER2;Initial Catalog=QLDSV_TC;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>